/* body {
    background-color: black;
    color: white;
    font-size: 20px;
}


h1 {
    color: green;
    text-align: center
}


.perso {
    display:flex;
    flex-direction: column;
    height: 280px;
    width: 200px;
    margin: 0px auto;
    border: white 2px black;
    padding: 10px 10px;
    text-align: center;
}
.button {
    padding: 20px;
}


#joueur {
    margin-top: 180px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

#joueur div {
    border: solid 2px white;
    margin: 10px auto;
    width: auto;
    height: auto;
    text-align: center;
    padding: 30px;
}

.button {
    display: flex;
    justify-content: center;
    margin: 0px auto;
    align-content: center;
    align-items: center;
}

.myButton {
	-moz-box-shadow: 0px 17px 0px 0px #a66124;
	-webkit-box-shadow: 0px 17px 0px 0px #a66124;
	box-shadow: 0px 17px 0px 0px #a66124;
	background-color:#c77345;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:7px solid #8a492b;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:21px;
	padding:14px 58px;
	text-decoration:none;
	text-shadow:0px 1px 0px #a6492d;
}
.myButton:hover {
	background-color:#8a3c17;
}
.myButton:active {
	position:relative;
	top:1px;
}

#resultatCombat {
    height: 200px;
    width: 400px;
    margin: 50px auto;
    border: solid 2px white;
    padding: 30px;
    text-align: center;
} */
